
.page-body{
  margin-top: 100px!important;
}
.product-img{
  width: 100%;
}
.img-td{
  width: 100px!important;
  min-width: 50px!important;
  background-color: red;
  border-radius: 30px;

}
.forgot-cont{
  width: 500px;
  height: 1000px;
  margin:50px auto;
}
.bg-product{
  background-image: url('assets/images/pro3/34.jpg');
}
.w-full{
  width: 100%;
}
.edit-modal{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  bottom: 0;
  background-color: rgba(22, 22, 22, 0.211)!important;  
}
.edit-modal .content{
  background-color: white;
  height: 400px;
  min-width:300px ;


}
 .active {
  background-color: transparent!important;
  background: transparent!important;
}
