
.page-body{
  margin-top: 100px!important;
}
.product-img{
  width: 100%;
}
.img-td{
  width: 100px!important;
  min-width: 50px!important;
  background-color: red;
  border-radius: 30px;

}
.forgot-cont{
  width: 500px;
  height: 1000px;
  margin:50px auto;
}
.bg-product{
  background-image: url('assets/images/pro3/34.jpg');
}
.w-full{
  width: 100%;
}
.edit-modal{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  bottom: 0;
  background-color: rgba(22, 22, 22, 0.211)!important;  
}
.edit-modal .content{
  background-color: white;
  height: 400px;
  min-width:300px ;


}
 .active {
  background-color: transparent!important;
  background: transparent!important;
}

.pagination{
  width: 50%;
    margin: 10px auto;
    justify-content: center;
    border-radius: 10px;
    padding: 5px;
    display: flex;
}
button{
  outline: none!important;
}
.pagination li{
  padding: 5px 10px;
  border: 1px solid #04A134;
  border-radius: 3px;
  margin: 2px;
  text-decoration: none;

  box-shadow: 0px 0px 3px #04A134;
  
}
.pagination .active{
  background-color: #04A134;
  color: white;
}
.pagination .active a{
  color: white;
  text-decoration: none;
}
.pagination .disabled{
  opacity: .4;
}
.pagination li a{
  color: #04A134;
  text-decoration: none;

}
